body{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
.header-top{
	position: fixed;
	height: 69px;
	width: 1350px;
	background-color: red;
}
.logo{
	height: 458px;
	width: 1350px;
	background-image: ;
	background-color: green;
}
.Features{

	background-color: #7744FF;
}
.works{
	background-color:#9955FF ;
}
.Team{

}
.Facts{
	background-color: #cc0000;
}
.Buttom{
	background-color: #ff0000；
}
